/* Universal Styles */
html {
    font-size: 16px;
    font-family: helvetica;
}

body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 64px;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav .logo {
    display: inline-flex;
    align-items: center;
    height: 32px;
    margin-left: 24px;
}

nav .logo span {
    font-weight: bold;
    color: black;
}

nav .logo p {
    color: gray;
}

nav ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin-right: 24px;
}

nav ul li {
    text-decoration: none;
    margin: auto 16px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* First Banner */
body .first_banner {
    display: inline-flex;
    align-items: center;
    background-color: rgb(196, 195, 195);
    max-width: 100%;
}

body .first_banner .left_flex_box {
    display: flex;
    justify-content: stretch;
    margin: 32px 24px;
    max-width: 60%;
}

body .first_banner .left_flex_box .image_container {
    width: 100%;
}

body .first_banner .left_flex_box .image_container img{
    width: 100%;
}

body .first_banner .right_flex_box {
    display: flex;
    flex-flow: column wrap;
    color: rgb(73, 73, 73);
    max-width: 30%;
}

body .first_banner .right_flex_box .text_container_1 {
    font-size: 2.5rem;
    font-weight: bold;
}

body .first_banner .right_flex_box .text_container_2 {
    font-size: 1.4rem;
    font-weight: bold;
}

body .first_banner .right_flex_box .button_1 {
    background-color: rgb(73, 73, 73);
    text-align: center;
    padding: 8px auto;
}

body .first_banner .right_flex_box .button_1 a {
    text-decoration: none;
    color: white;
}

/* Second Banner */
body .second_banner {
    display: inline-flex;
    align-items: center;
    background-color: white;
    max-width: 100%;
}

body .second_banner .left_flex_box {
    display: flex;
    flex-flow: column wrap;
    margin: 32px 24px;
    width: 60%;
    color: rgb(73, 73, 73)
}

body .second_banner .left_flex_box img {
    width: 100%;
}

body .second_banner .left_flex_box .text_container_1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 24px;
}

body .second_banner .right_flex_box {
    width: 40%;
}

body .second_banner .right_flex_box .information_container {
    display: inline-flex;
    align-content: center;
}

body .second_banner .right_flex_box .information_container .sub_left_flex_box {
    width: 35%;
    height: auto;
    margin: 16px;
}

body .second_banner .right_flex_box .information_container .sub_left_flex_box img {
    width: 100%;
}

body .second_banner .right_flex_box .information_container .sub_right_flex_box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 65%;
}

body .second_banner .right_flex_box .information_container:last-of-type {
    background-color: rgb(196, 195, 195);
}

body .second_banner .right_flex_box .information_container  .text_container_1 {
    color: rgb(73, 73, 73);
    font-weight: bold;
    font-size: 1.3rem;
}

body .second_banner .right_flex_box .information_container  .text_container_2 {
    margin: 8px none;
}

body .second_banner .right_flex_box .information_container .button_1 a {
    text-decoration: none;
    color: rgb(82, 175, 251);
}

/* Third Banner */
body .third_banner {
    display: flex;
    background-color: rgb(196, 195, 195);
}

body .third_banner .flex_box {
    width: 100%
}

body .third_banner .flex_box .text_container_1 {
    color: rgb(73, 73, 73);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin: 32px auto;
}

body .third_banner .flex_box .sub_flex_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 32px 72px;
}

body .third_banner .flex_box .sub_flex_box .career_container {
    background-color: white;
    max-width: 30%;
    margin: 16px;
}

body .third_banner .flex_box .sub_flex_box .career_container img {
    width: 100%;
    height: auto;
}

body .third_banner .flex_box .sub_flex_box .career_container .sub_text_container_1 {
    color: rgb(73, 73, 73);
    font-weight: bold;
    font-size: 1.3rem;
    margin: 16px;
}

body .third_banner .flex_box .sub_flex_box .career_container .sub_text_container_2 {
    color: rgb(73, 73, 73);
    margin: 8px 16px;
} 

body .third_banner .flex_box .sub_flex_box .career_container .sub_text_container_3 {
    color: rgb(73, 73, 73);
    font-size: .9rem;
    margin: 8px 16px;
} 

/* Fourth Banner */
body .fourth_banner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

body .fourth_banner .text_container_1 {
    color: rgb(73, 73, 73);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    margin: 32px auto;
}

body .fourth_banner .flex_box {
    display: inline-flex;
}

body .fourth_banner .flex_box .sub_left_flex_box {
    display: flex;
    flex-flow: column wrap;
    max-width: 60%;
    margin: 32px 24px;
}

body .fourth_banner .flex_box .sub_left_flex_box video {
    width: 100%;
}

body .fourth_banner .flex_box .sub_left_flex_box .sub_text_container_1 {
    color: rgb(73, 73, 73);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 24px none 8px none;
}

body .fourth_banner .flex_box .sub_left_flex_box .sub_text_container_2 {
    color:rgb(73, 73, 73);
}

body .fourth_banner .flex_box .sub_right_flex_box 
 {
    display: flex;
    flex-flow: column wrap;
    max-width: 40%;
    margin: 32px 12px;
} 

body .fourth_banner .flex_box .sub_right_flex_box .information_container{
    display: inline-flex;
    align-items: center;
}

body .fourth_banner .flex_box .sub_right_flex_box .information_container img {
    width: 35%;
    height: auto;
    margin: 16px;
}

body .fourth_banner .flex_box .sub_right_flex_box .information_container .sub_text_container_1 {
    color: rgb(73, 73, 73);
    font-size: 1.3rem;
    font-weight: bold;
}

body .fourth_banner .flex_box .sub_right_flex_box .information_container:first-of-type {
    background-color: rgb(196, 195, 195);
}

body .fourth_banner .flex_box .sub_right_flex_box .information_container .sub_text_container_2 {
    color: rgb(73, 73, 73)
}

/* Footer */
footer {
    display: inline-flex;
    justify-content: space-between;
    margin: 16px 24px;
    border-top: 1px solid rgb(196, 195, 195);
    color:rgb(73, 73, 73);
}

footer .terms_and_privacy {
    display: inline-flex;
}

footer .term, footer .privacy {
    margin: auto 5px;
}